.cabecalho{
    background-color: #7950f2;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.content{
    display: flex;
    height: 100%;
    flex-direction: row-reverse;
}
.conteudo {
    padding-top: 30px;
    background-color: #fff;
    width: 80%;
	text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form{
    margin: 40px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.form  > input {
    border-color: black;
    border-radius: 12px;
    width: 80%;  
    margin-bottom: 30px;
    font-size: 20px;
    padding: 10px;
}
.form  > button {
    border-color: black;
    font-size: 20px;
    padding: 10px 50px;
    border-radius: 12px;
    background-color: #ced4da;
}
.sidebar {
    background-color: #ced4da;
    text-align: center;
    width: 20%;
    height: 100%;
	margin: 0; 
    padding: 0;
}
nav > h2 {
    font-size: 2rem;
    margin:20px 0px;
}
h3 {
    font-weight: lighter;
    font-size: 30px;
}
.api {
    font-weight: lighter;
    font-size: 30px;
}
a{
	text-decoration: none;
    font-size: 1.5rem;
}

li{
    list-style-type: none;
}

